#app {
  max-width: 968px;
  margin: 0 auto;
  padding: 20px;
}

.categoriesList .item img {
  vertical-align: middle !important;
  width: 20px !important;
}

.graphGistCard__image {
  padding: 0 !important;
  flex-grow: 0 !important;
  height: 225px;
  text-align: center;
}

.graphGistCard__image img {
  height: max-content;
  max-height: 223px;
  display: inline-block !important;
}

.graphGistCard__labels .label {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-right: 10px !important;
}

.graphGistCard__labels .label img {
  margin: 0;
}

.graphGistCard__footer {
  flex-grow: 0 !important;
}
